<!DOCTYPE html>
<html>
<head>
  <title>BikeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <%=link_to "Bike Rental Application" , root_url %>
                </li>
                <% if current_user %>
                <li>
                <%= current_user.email %>
                </li>
                <% else %>
                <% end %>
                
                <% if current_user %>
                 <li>
                 <li>
                    <%=link_to "View Bikes To Rent" , root_url %>
                </li>
                <li>
                    <%=link_to "Add Bike" , new_bike_path %>
                </li>
                <li>
                    <%=link_to "Add Bike" , new_bike_path %>
                </li>
                <li>
                    <%=link_to "Add Bike" , new_bike_path %>
                </li>
                <li>
                    <%=link_to "Add Bike" , new_bike_path %>
                </li>
                <li>
                    <%=link_to "Add Bike" , new_bike_path %>
                </li>
                    <%=link_to "Log Out" , destroy_user_session_path, method: :delete , confirm: "Are You Sure?" %>
                </li>

                <% else %>
                <li>
                    <%=link_to "Login" , new_user_session_path %>
                </li>
                <li>
                    <%=link_to "Register" , new_user_registration_path %>
                </li>
                <% end %>
               
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Bike Rental Application</h1>
                            <% flash.each do |a, b| %>
                            <div class="alert alert-success"><%= b %> </div>
                                <% end %>
                       		       <%= yield %>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>



</body>
</html>
